*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background: url(../images/slide1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    position: relative;
    padding: 1% 6%;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.to:hover{
    background-color: #4682B4;
}

.links{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
}

.ham{
    display: none;
    cursor: pointer;
}

.ham div{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.links li{
    margin-right: 20px;
    cursor: pointer;
}

.links li:hover{
    margin-right: 20px;
    cursor: pointer;
}

.links > li:last-child {
    margin-right: 0px;
  }
  

.btn{
    padding: 14px 18px;
    border: none;
    border-radius: 20px;
    background-color: #4682B4;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.hero-content {
    padding: 20vh;
    width: 100%;
}

.hero-paragraph {
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}  

.hero-last{
    width: 100%;
}

.hero-icon{
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.hero-icon img{
    width: 4%;
    height: 8%;
}

.foundation{
    background-color: #EBECF0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.foundation-title{
    text-align: center;
    padding: 3% 0;
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
}

.foundation-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 750px;
    flex-direction: row;
}

.foundation-name-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 0 1%;
    width: 100%;
    height: 90%;
    text-align: center;
    background-color: white;
}

.foundation-name-item img{
    padding-top: 10%;
    width: 50%;
    height: 20%;
}

.foundation-name-item h1{
    padding-top: 10%;
    font-size: 25px;
}

.foundation-name-item p{
    padding-top: 10%;
    font-size: 20px;
    line-height: 30px;
    color: grey;
    width: 85%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.color1:hover{
    background-color: #CFE5E9;
}

.color2:hover{
    background-color: #CFE5E9;
}

.color3:hover{
    background-color: #CFE5E9;
}

.color4:hover{
    background-color: #E8E7E2;
}

.color5:hover{
    background-color: #FAD8F6;
}

.explore{
    background: url(../images/parallax-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-title{
    color: white;
    padding: 2% 0;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
}

.explore-video img{
    width: 50%;
    height: 20%;
    margin-bottom: 50px;
}

.join{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-title{
    padding-top: 4%;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.join-element{
    display: flex;
    padding-top: 5%;
    width: 100%;
}

.join-element-one{
    flex-basis: 35%;
}

.join-element-one img{
    width: 90%;
}

.join-element-two{
    display: flex;
    flex-basis: 65%;
}

.join-two{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 20%;
    background-color: ghostwhite;
    margin: 0 2%;
}

.join-two:hover{
    transform: scale(1.05);
}

.join-two h1{
    padding: 30% 15%;
    font-size: 20px;
    font-family: sans-serif;
}

.join-two p{
    padding: 5% 15%;
    font-size: 18px;
    font-family: sans-serif;
}


.join-two button{
    width: 80%;
    margin-top: 30px;
    padding: 12px 10px;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #4682B4;
    cursor: pointer;
}

.application{
    background-color: ghostwhite;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.application-item{
    padding: 1%;
}

.application-item p{
    color: dimgrey;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

.application-item img{
    height: 50px;
}

.hub{
    background: url(../images/parallax-light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hub-title{
    padding-top: 5%;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.hub-element{
    display: flex;
}

.hub-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    padding: 5% 0;
}

.hub-item img{
    width: 30%;
}

.hub-item h1{
    padding-top: 5%;
    font-size: 30px;
}

.hub-item p{
    padding-top: 5%;
    font-family: sans-serif;
    font-weight: bold;
}

.green-blue{
    color: 	mediumaquamarine;
}

.pink{
    color: deeppink;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.trend{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
}

.trend-title{
    padding-top: 5%;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.trend-element{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
}

.trend-item{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: white;    
}

.trend-item img{
    width: 100%;
}

.trend-item p{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    max-width: 100%;
    padding: 10%;
    cursor: pointer;
}

.trend-item p:hover{
    color: blue;
}

.hr{
    background-color: lightgray;
    height: 1px;
    width: 100%;
}

.low{
    margin-top: 10%;
}

h4{
    margin-top: 8%;
    padding: 0 10%;
    font-size: 14px;
    font-weight: 300;
    font-family: sans-serif;
    color: grey;
    margin-bottom: 30px;
}

.trend-button{
    margin-top: 30%;
    padding: 16px 30px;
    border: none;
    border-radius: 30px;
    background-color: #4682B4;
    color: white;
    font-weight: bold;
    margin-bottom: 50px;
    cursor: pointer;
}

.academy{
    background: url(../images/parallax-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.academy-element{
    display: flex;
    justify-content: space-between;
}

.academy-item{
    margin-top: 3%;
}

.one1{
    flex-basis: 45%;
}

.one1 img{
    width: 60%;
    padding: 0 20%;
}

.one1 p{
    color: white;
    padding: 3% 20%;
    font-size: 15px;
    font-family: sans-serif;
}

.two2{
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.two2 img{
    width: 60%;
}

.two2 p{
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 8%;
}

.academy-footer{
    text-align: center;
}

.academy-footer button{
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background-color: #4682B4;
    color: white;
    font-weight: bold;
    margin-bottom: 50px;
}

.member{
    display: flex;
}

.first{
    flex-basis: 40%;
}

.member-element p{
    padding: 12% 20%;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.member-element-last{
    flex-basis: 55%;
    display: flex;
    padding-top: 5%;
}

.member-item-last{
    cursor: pointer;
    width: 50%;
    height: 130px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 2%;
    margin: 0 2%;
}

.member-item-last img{
    width: 30%;
}

.member-item-last h1{
    padding-top: 3%;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
}

.sitemap{
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.sitemap-element{
    display: flex;
    padding-top: 3%;
}

.partsite p{
    color: lightgrey;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.part-one{
    flex-basis: 65%;
}

.part-one p{
    padding-left: 10%;
}

.part-two{
    flex-basis: 35%;
}

.information{
    display: flex;
}

.information h1{
    color: darkgrey;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

.information-item{
    padding-left: 10%;
    width: 33%;
}

.information-item p{
    margin-top: 2%;
    color: white;
    font-family: sans-serif;
    margin-left: 10%;
}

.information-item p:hover{
    cursor: pointer;
    border-bottom: 1px solid #4682B4;
}

.information1{
    display: flex;
    flex-basis: 65%;
    justify-content: space-evenly;
}

.information2{
    flex-basis: 35%;
}

.input{
    width: 60%;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
}

.input:focus{
    outline: none;
}

.but{
    padding: 12px 12px;
    border: none;
    border-radius: 30px;
    background-color: #4682B4;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.information2 p{
    padding-top: 1%;
    color: white;
}

.information2 p:hover{
    cursor: pointer;
    border-bottom: 1px solid #4682B4;
}


span{
    color: blue;
}

.information2 h1{
    padding-top: 2%;
    color: grey;
}

.information2 img{
    padding-top: 2%;
    width: 40%;
}

.information2 img:hover{
    cursor: pointer;
    border-bottom: 1px solid #4682B4;
}


.image{
    display: flex;
}

h5{
    color: white;
}

h5:hover{
    cursor: pointer;
    border-bottom: 1px solid #4682B4;
}

.footerr{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.footer-one{
    flex-basis: 65%;
}

.footer-two{
    flex-basis: 35%;
}

.footer-one p{
    color: grey;
    font-size: 12px;
    font-family: sans-serif;
    margin-left: 10%;
}

.footer-two p{
    float: right;
    margin-right: 5%;
    color: white;
    cursor: pointer;
}

.footerr{
    padding-top: 2%;
}

.footerrr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.to{
    left: 50%;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: lightgrey;
    cursor: pointer;
}

.ico{
    padding: 50% 30%;
}

.upper{
    margin-top: 35px;
}

.right-title{
    color: lightgrey;
    font-size: 16px;
    font-family: sans-serif;
}

@media (max-width: 1100px){
    .links{
        display: none;
    } 
    
    .links.show{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0%;
        line-height: 25px;
    }

    .ham{
        display: block;
    }
    
    .top-nav-logo{
        height: 70%;
    }

    .hero-paragraph{
        font-size: 30px;
    }

    .foundation-title{
        font-size: 20px;
        margin-top: 20px;
    }

    .explore-title{
        font-size: 30px;
    }

    .foundation-name:last-child{
        margin-bottom: 50px;
    }

    .hub{
        height: auto;
    }

    .hub-title p{
        font-size: 25px;
    }

    .hub-element{
        flex-direction: column;
        align-items: center;
    }

    .hub-item{
        width: 100%;
    }

    .information{
        flex-direction: column;
        align-items: center;
    }

    .information2{
        margin-top: 50px;
        text-align: center;
    }

    .image{
        text-align: center;
    }


}

@media (max-width: 900px){
    .foundation-name{
        flex-direction: column;
        height: auto;
        margin-top: 100px;
    }

    .join-element{
        align-items: center;
    }

    .join-element-one{
        display: none;
    }

    .join-element-two{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .join-two{
        width: 100%;
        margin-top: 50px;
    }

    .join-two h1{
        width: 100%;
        padding: 5%;
    }

    .join-two P{
        width: 100%;
        padding: 2%;
    }

    .information1 p{
        padding-top: 2%;
    }
    
}
    @media (max-width: 700px){

    .trend-title{
        font-size: 25px;
    }

    .trend-element{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .trend-item{
        margin-top: 50px;
        width: 80%;
    }

    .academy{
        height: auto;
    }

    .academy-element{
        flex-direction: column;
    }

    .academy-footer{
        margin-top: 30px;
    }

    .member{
        flex-direction: column;
    }

    .member-element first{
        width: 100%;
    }

    .first{
        flex-basis: 100%;
    }

    .member-element p{
        padding: 10% 2%;
        font-size: 25px;
    }    
    
}

